/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
* {
    outline: 0;
    font-family: 'Source Sans Pro',sans-serif;
    margin:0;
    padding: 0;
}
img{
  width:100%;
}


.box {
  margin: 1em 0;
  padding: 15px;
    background: #272727 none repeat scroll 0 0;
    border-radius: 2px;
    transition-duration: 0.4s;
}
.box form {
    margin: 3em 0 0 0;
}
.box input[type="text"], .box textarea {
    outline: none;
    border: 1px solid #D4D3D3;
    background: none;
    padding: 10px 10px;
    width: 60%;
    font-size: 13px;
}
.box input[type="text"]:nth-child(2) {
    margin: 1em 0;
}
.box textarea {
    resize: none;
    min-height: 200px;
    margin: 1em 0;
    width: 80%;
}
.box input[type="submit"] {
    outline: none;
    font-style: normal;
    padding: 8px 20px;
    background: #21DEEF;
    font-size: 14px;
    color: #fff;
    display: block;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.box input[type="submit"]:hover{
    text-decoration: none;
    color: #272C2E;
    background: #E2E2E2;
}
.all-comments-buttons {
  margin: 3em 0 1em;
}
.all-comments-buttons ul{
	margin:0;
	padding:0;
}
.all-comments-buttons ul li{
  display: inline-block;
  margin: 0 1em;
}
.all-comments-buttons ul li:nth-child(1){
	margin-left:0;
}
.all-comments-buttons ul li a.top{
    color: #000;
    font-size: 13px;
    padding: .5em 1.3em;
    background: #E2E2E2;
    border-radius: 3px;
    text-decoration: none;
}
.all-comments-buttons ul li a.newest{
	position:relative;
}
.all-comments-buttons ul li a.top:hover{
    color: #FFFFFF;
    background: #21DEEF;
}
