
@media (max-width: 1366px) {
	.slid-bottom-grid {
		width: 43%;
	}
	.slid-bottom-right {
		width: 57%;
	}
	.show-grid-right {
		padding: 2em 0 0 2em;
	}
	.resent-grid-info p.author-info {
		font-size: 12px;
	}
}
@media (max-width: 1280px) {
	.time {
		top: 91% !important;
	}
	.clck {
		right: 11%;
	}
	.small-clck {
		right: 14% !important;
	}
	.small-time {
		top: 85% !important;
	}
	.show-time {
		top: 85% !important;
	}
	.show-clock {
		right: 26%;
	}
	.slider-time {
		top: 88% !important;
	}
	.history-left {
		width: 83px !important;
		height: 83px;
	}
	.movie-time {
		top: 93% !important;
	}
	.movie-clock {
		right: 17% !important;
	}
	.sports-clock {
		right: 21% !important;
	}
	.sports-tome {
		top: 80% !important;
	}
}
@media (max-width: 1080px) {
	form.navbar-form.navbar-right {
		width: 47%;
	}
	.header-top-right {
		margin: .5em 0;
	}
	.sidebar {
		padding: 0 10px 20px 10px;
	}
	.time {
		top: 89% !important;
	}
	.clck {
		right: 13%;
	}
	.slid-bottom-grid {
		width: 51%;
	}
	.slid-bottom-right {
		width: 49%;
	}
	.resent-grid-info p.author a.author {
		padding-left: 1.5em;
	}
	.small-clck {
		right: 17% !important;
	}
	.small-time {
		top: 83% !important;
	}
	.slider-time {
		top: 86% !important;
	}
	.show-video-grid {
		width:33.33% !important;
		margin-bottom: 2em;
	}
	.show-time {
		top: 90% !important;
	}
	.show-clock {
		right: 17%;
		bottom: 2%;
	}
	.show-grid-right {
		padding: 1em 0 0 1em;
	}
	.show-grid-left {
		width: 80%;
	}
	.show-grid-right {
		width: 20%;
	}
	.history-right {
		width: 90%;
	}
	.movie-clock {
		right: 22% !important;
		bottom: 2%;
	}
	.recommended-grid-movie-info ul li {
		display: block !important;
		width: 100%;
	}
	.recommended-grid-movie-info ul li.right-list {
		text-align: left;
	}
	.sports-tome {
		top: 74% !important;
	}
	.sports-clock {
		right: 25% !important;
	}
	span.glyphicon.glyphicon-user {
		font-size: 5em;
	}
	.about-left-img span.glyphicon-envelope {
		font-size: 5em;
	}
	.about-left-info a {
		font-size: 18px;
	}
	.song-grid-right {
		width: 18%;
		margin-left: 1em;
	}
	.share li {
		font-size: 13px;
	}
	.share li a {
		font-size: 13px;
	}
	.song-info h3 {
		font-size: 20px;
	}
	.single-right-grid-right {
		padding: 0;
	}
	.single-right-grid-right a.title {
		font-size: 13px;
	}
	.callbacks_nav {
		right: 7%;
	}
}
@media (max-width: 1024px) {
	form.navbar-form.navbar-right {
		width: 43%;
	}
	.slid-bottom-grid {
		width: 50%;
	}
	.slid-bottom-grid {
		width: 100%;
		float: none;
	}
	.slid-bottom-right {
		text-align: left;
	}
	.recommended-grid-info ul li {
		display: block;
		width: 100%;
	}
	.recommended-grid-info ul li.right-list {
		text-align: left;
	}
	.history-right {
		width: 88%;
	}
	.share li {
		font-size: 12px;
	}
	.show-grid-right h3 {
		font-size: 15px;
	}
	.sports-recommended-grid {
	    width: 33.33% !important;
		margin-bottom: 2em !important;
	}
	.sports-tome {
		top: 84% !important;
	}
	.sports-clock {
		right: 16% !important;
		bottom: 4%;
	}
}
@media (max-width: 991px) {
	body {
		padding: 0;
	}
	nav.navbar.navbar-inverse.navbar-fixed-top {
		position: inherit;
	}
	.t-menu{
		float:left;
	}
	.t-img{
		float:right;
	}
	form.navbar-form.navbar-right {
		width: 41%;
	}
	.sidebar {
		float: none !important;
		position: inherit;
		width: 100%;
	}
	.recommended-grid {
	    float: left;
		width: 25%;
		margin-bottom: 2em;
	}
	.slider-top-grids {
		width: 33.33% !important;
		float: left !important;
	}
	.side-bottom {
	    position: inherit;
		padding: 2em 0;
	}
	.drop-navigation{
		display: none;
		margin-top: 1em;
	}
	.top-navigation {
	     display: block;
		padding: 20px;
		cursor: pointer;
		font-size: 2em;
		color: #FFF;
		position: relative;
		text-align: center;
		margin: 0 auto;
	}
	ul.nav-sidebar {
		display: block;
		margin: 0;
	}
	ul.nav.nav-sidebar li a {
		padding: .8em 0 .8em 35em;
	}
	.sidebar{
	    padding:0;
		margin: 0;
	}
	.sidebar ul.nav-sidebar li {
	    display: block;
	}
	.sidebar ul li a {
	  padding: .3em 0;
	  display: block;
	  float: none;
	  color: #FFFFFF;
	}
	.nav-sidebar ul li a {
		padding: .5em 0 .5em 39em !important;
	}
	.main {
		padding: 2em 0 0 0;
		float: none !important;
		margin: 0;
		width: 100%;
	}
	.show-grid-left {
		float: left;
	}
	.show-grid-right {
		float: left;
	}
	.history-left {
		float: left;
	}
	.history-left p {
		margin: 1.7em 0 0 0;
	}
	.history-right {
		float: left;
	}
	.english-grid {
		margin-top: 0em !important;
	}
	.single-left {
		float: left;
		width: 70%;
	}
	.single-right {
		padding: 2em;
		float: left;
		width: 30%;
	}
	.single-right-grid-left {
		padding: 0;
		margin-bottom: 1em;
	}
	.about-left-grids {
		text-align: center;
	}
	.creators-bottom-grid {
		margin-bottom: 2em;
	}
	.try-left {
		margin-bottom: 2em;
	}
	.try-right-left {
		margin-bottom: 2em;
	}
  #slider-animeyt{
    display:none;
  }
  .sa-series-dashboard__container {
    width: auto !important;
  }
}
@media (max-width: 800px) {
	form.navbar-form.navbar-right {
		width: 34%;
	}
}
@media (max-width: 768px) {
	form.navbar-form.navbar-right {
		margin-left: 3em;
	}
	form.navbar-form.navbar-right {
		width: 33%;
	}
	ul.nav.nav-sidebar li a {
		padding: .8em 0 .8em 27em;
	}
	.nav-sidebar ul li a {
		padding: .5em 0 .5em 31em !important;
	}
	.time {
		top: 87% !important;
	}
	.clck {
		right: 16%;
	}
	.small-clck {
		right: 19% !important;
	}
	.small-time {
		top: 79% !important;
	}
	.recommended-grids {
		margin: 2em 0;
	}
	.small-time {
	    top: 79% !important;
	}
	.slider-time {
		top: 83% !important;
	}
	.show-clock {
		right: 20%;
	}
	.show-grid-left {
		width: 75%;
	}
	.show-grid-right {
		width: 25%;
	}
	.song {
		width: 100%;
		float: none;
	}
	.song-grid-right {
	    width: 100%;
		margin: 1em 0;
		float: none;
	}
	.share li {
		display: inline-block;
		margin: 0.5em 0 0 .8em;
	}
	.share li.view {
		display: inline-block;
	}
	.movie-clock {
		right: 28% !important;
		bottom: 3%;
	}
	.show-time {
		top: 88% !important;
	}
	.sports-tome {
		top: 84% !important;
	}
	.developers-info h3 {
		font-size: 30px;
	}
	.developers-info {
		width: 75%;
	}
	.developers-info p {
		font-size: 14px;
	}
	.developers-banner {
		padding: 10em 0 7em 0;
	}
	.footer {
		padding: 2em 0;
	}
	.footer-grids {
		padding: 0 2em;
	}
	.footer-bottom ul li.languages {
		width: 21%;
	}
}

#slider-animeyt{
	padding: 1.5em 0;
	overflow: hidden;
  background: #040B13;
}
#slider-container{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.caja, .slide-item {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.slider-home__description {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    padding: 0 2em;
    font-size: 12px;
    color: rgba(255,255,255,.6);
}
.Description .tip-questions .tipcategorias {
    text-align: initial;
}
.Description .tip-questions .tipcategorias span {
    background: #505045;
    padding: 5px;
    border-radius: 5px;
    margin-top: 7px;
    display: inline-block;
}

.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: 0 0;
    color: transparent;
    top: 50%;
    margin-top: -10px\9;
    transform: translate(0,-50%);
    padding: 0;
    border: 0;
    outline: 0;
}
.slider-home {
    margin-top: 1em;
    margin-bottom: 1em;
    display: table;
}

.slider-home__title {
    color: #fff!important;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 .5em;
}
@media screen and (min-width:768px){
.slider-home__title {
    text-align: left;
}
}
.boton, .button, button {
    display: inline-block;
    line-height: 2.5em;
    background: #ddd;
    color: #333;
    padding: 0 1.5em;
    cursor: pointer;
    margin-bottom: 1em;
}
.button {
    display: inline-block;
    background: 0 0;
    border: 1px solid #fb4b2b;
    line-height: 2.8;
    padding: 0 1.5em;
    color: #fb4b2b;
    text-transform: uppercase;
    border-radius: .2em;
    outline: 0;
}
.slider-home__img-container {
    display: table-cell;
    width: 50%;
    text-align: right;
}
.capitulo_poster {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}
.capitulo_poster, .serie_banner, .serie_poster {
    display: block;
    position: relative;
    overflow: hidden;
}
.slider-home__img-container a {
    display: block;
    float: right;
}
.slider-home__img-container img {
    box-shadow: 0 15px 25px -10px #000;
}
.capitulo_poster img, .serie_banner img, .serie_poster img {
    display: block;
    width: 100%;
    position: absolute;
}
.hasta-tablet, .to-tablet {
    display: none!important;
}
.slick-prev:before {
    content: "←";
}


.slick-prev:before, .slick-next:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before, .slick-next:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p,blockquote,li{font-size:12px;line-height:18px}
.button:hover, .button:active {
    color: #fc765d;
    background: 0 0;
}

.title-border-botton {
    border-bottom: 1px solid #2A2B2F;
}
.titulo {
    display: grid;
    grid-template-columns: 1fr min-content;
    color: #fff;
    margin-right: 5px;
    padding: .5rem 0 2.7rem;
    align-items: center;
    border-radius: 5px;
    font-family: Roboto,sans-serif;
}
.movie-carrusel .item figure .movie .details-movie .details-movie-image, .resCarousel, .sinCarousel, .titulo {
    position: relative;
}
.movie-carrusel .item figure .movie .details-movie .name-movie {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #818183;
    margin: 1rem 0 0;
    font-size: 12px;
}
.resCarousel, .sinCarousel {
    width: 100%;
    padding: 2.5rem 0;
}
.titulo h1, .titulo h2 {
    line-height: 30px;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}
.titulo .control a {
    display: grid;
    align-items: center;
    text-align: center;
    border: 1px solid #E3E3E3;
    color: #CACACB;
    width: 3.7rem;
    height: 3.3rem;
}
.titulo h1 .ico-video-player, .titulo h2 .ico-video-player {
    width: 3.7rem;
    height: 3.3rem;
    background: url(../img/video-player.png) center center no-repeat;
    float: left;
}
.titulo .control a.a {
    background: url(../img/left-arrow.png) center center no-repeat;
    background-size: 40%;
}
.titulo .control a.b {
    background: url(../img/right-arrow.png) center center no-repeat;
    background-size: 40%;
}
.titulo .control {
    display: grid;
    grid-template-columns: 1fr 1fr;
    float: right;
}
.resCarousel-inner .item {
    display: inline-block;
    font-size: 14px;
    white-space: initial;
}
.postersizes .item {
    width: 100%!important;
}
.movie-carrusel .item figure {
    font-size: 1.5rem;
    font-weight: 700;
    padding: .6rem;
}
.movie-carrusel .item figure .movie {
    display: block;
    text-align: center;
    position: relative;
}
.movie-carrusel .item figure .movie {
    display: block;
    text-align: center;
    position: relative;
}
.movie .poster {
    width: 100%;
    height: 100%;
    position: relative;
}
.movie-carrusel .item figure .movie .details-movie .details-movie-image, .resCarousel, .sinCarousel, .titulo {
    position: relative;
}
.movie-carrusel .item figure .movie .details-movie .details-movie-image .info {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
    text-align: center;
    grid-template-rows: 1fr;
    color: #E8E8E8;
    padding-bottom: 1rem;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.movie .info_poster {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.movie .info_poster .description_poster {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
    font-size: 1.4rem;
}

.movie .poster:hover .tip {
    display: block;
}
.shodow:after, .style-scope, .tip {
    pointer-events: none;
}
.tip, .tip::before {
    position: absolute;
}
.tip {
    left: 100%;
    top: 10%;
    width: 170%;
    max-width: 270px;
    z-index: 10;
    animation-name: zoomIn;
    padding: 1rem 1.25rem 1.25rem;
    margin-top: -25px;
    background-color: #0d171f;
    border-radius: 10px;
    display: none;
}
.tip .Title {
    font-size: 1.6rem;
    max-height: none;
    white-space: normal;
    line-height: 1.2;
    padding: .2rem 0;
    margin-bottom: 0;
    color: #E8E8E8;
}
.tip .Description {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #C7C7C8;
}
.tip .Description, .tip .Description p {
    margin-bottom: .6rem;
    text-align: justify;
}
.questions.tip-questions {
    display: inherit;
}
.questions {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    color: #fff;
}

.questions .comment, .questions .fas, .questions .like, .questions .list-star, .questions .watch {
    vertical-align: middle;
    align-items: center;
    display: flex;
    margin-right: 5px;
    font-size: 1.6rem;
    font-weight: 600;
}
.questions.tip-questions .comment, .questions.tip-questions .like, .questions.tip-questions .list-star, .questions.tip-questions .otros, .questions.tip-questions .watch {
    font-size: 1.2rem;
    margin-bottom: .3rem;
}
.carrusel_entradas .owl-stage .zindexfix {
    z-index: 2;
}
.questions .comment .icon-comment, .questions .like .icon-like, .questions .list-star .icon-star, .questions .otros .fas, .questions .watch .icon-watch {
    width: 32px;
    height: 32px;
    display: inline-block;
}
.questions .comment .icon-comment, .questions .like .icon-like, .questions .otros .fas, .questions .watch .icon-watch {
    margin-right: 5px;
}
.questions.tip-questions .comment .icon-comment, .questions.tip-questions .like .icon-like, .questions.tip-questions .list-star .icon-star, .questions.tip-questions .otros .fas, .questions.tip-questions .watch .icon-watch {
    width: 16px;
    height: 16px;
}
.questions.tip-questions .comment .icon-comment, .questions.tip-questions .like .icon-like, .questions.tip-questions .list-star .icon-star.star, .questions.tip-questions .list-star .icon-star.star-active, .questions.tip-questions .otros .fas, .questions.tip-questions .watch .icon-watch {
    background-size: 100%;
}
.movieitem__quality{
	position: absolute;
    top: .5em;
    left: .5em;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: .5em;
    border-radius: 2px;
    line-height: 1;
    background-color: #981c1c;
    z-index: 1;}
.movie-footer .btn-more {
    background: #fd8f00;
    color: #FFF3EE;
    border: none;
    font-size: 1.7rem;
    margin-right: .6rem;
}
footer {
    background: #1E1E1E;
}
footer>.container {
    padding: 2% 30px;
}
.copyright-content, .copyright-design, .item-footer, .suscribe-footer {
    padding: 0;
}
footer .container .item-footer h4 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #FFF;
    padding: 5px 0;
    margin: 0;
}
footer .container .item-footer .menu-links {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer .container .item-footer .menu-links li a {
    color: #fff;
    display: block;
    padding: 3px 0;
    font-size: 1.5rem;
    font-family: Verdana;
}
.copyright {
    background: #101318;
    padding: 2rem 0;
    color: #C7C7C8;
}
.menuprincipal{
  padding-top: 10px;
  padding-left: 30px !important;
  margin: auto;
}
.menuprincipal a{
    font-weight: bold;
    text-decoration: none;
    display: block;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    font-size: 14px;
}
.menuprincipal a:hover {
    color: rgba(153,153,153,1.0);
}
.navbar-brand{
  height: auto;
}
.navbar-brand img{
  width: 193px;
}
.sa-photo-cover {
    height: 400px;
    background-color: #37474f;
    width: 100%;
}
.sa-photo-cover__bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}
.sa-photo-cover__bg img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.sa-photo-cover:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    z-index: 1;
}
.sa-series-dashboard {
    font-size: 0;
}
.sa-series-dashboard__poster {
    position: relative;
    display: inline-block;
    max-width: 220px;
    width: 100%;
    margin-top: -80px;
    padding: 0 16px 0 0;
    font-size: 15px;
    text-align: center;
    vertical-align: top;
    z-index: 1;
}
.sa-series-dashboard__banner {
    display: inline-block;
    max-width: 320px;
    width: 100%;
    padding: 0 0 0 16px;
    vertical-align: top;
    margin-top: 20px;
}
.sa-layout__line {
    position: relative;
}
.sa-layout__line--sm {
    margin-bottom: 10px;
}
.sa-poster__fig {
    width: 100%;
    min-height: 280px;
    background-color: #37474f;
    overflow: hidden;
    border-radius: 2px;
}
.sa-layout__line--md {
    margin-bottom: 15px;
}
.md-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    background: transparent;
    color: currentColor;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.sa-btn-follow-series--normal {
    display: block;
    width: 100%;
}
.sa-button {
    color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.sa-button--info {
    background-color: #2196f3;
}



.sa-text {
    font-size: 14px;
    line-height: 22px;
    color: white;
}
.sa-text--w-light {
    font-weight: 300;
}
.sa-text--w-medium {
    font-weight: 500;
}
.sa-text--default {
    color: #9e9e9e;
}
.sa-text--block {
    display: block;
}
.t-margin-bottom-xs {
    margin-bottom: 4px!important;
}
.sa-social-media {
    font-size: 0;
}
.sa-social-media__item {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;
    border-radius: 50%;
}
.sa-social-media__thumb {
    display: block;
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
}
.sa-series-dashboard__container {
    display: inline-block;
    font-size: 15px;
    width: calc(100% - 540px);
    vertical-align: top;
}
md-content.md-default-theme, md-content {
    color: rgba(0,0,0,0.87);
    background-color: rgb(250,250,250);
}
md-content {
    display: block;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.sa-series-dashboard__tab {
    background-color: transparent;

}

#anime{
  position: relative;
    display: block;
    height: 48px;
    border-bottom: none;
}
#anime>li>a{
  border-radius: unset;
  color: rgba(255, 255, 255, 0.54);
}
#anime>li>a:hover {
    color: rgb(251, 142, 0);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e98300;
}

#anime>li.active>a, #anime>li.active>a:focus, #anime>li.active>a:hover {
    border: none;
    border-bottom: 1px solid #e98300;
    color: rgb(251, 142, 0);
    background-color: transparent;
    
}
#anime>li{
      font-size: 14px;
    text-align: center;
    line-height: 24px;
    padding: 12px 0px;
    -webkit-transition: background-color .35s cubic-bezier(.35,0,.25,1);
    transition: background-color .35s cubic-bezier(.35,0,.25,1);
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    text-transform: uppercase;
    float: left;
    font-weight: 500;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
md-pagination-wrapper {
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-transition: -webkit-transform .5s cubic-bezier(.35,0,.25,1);
    transition: -webkit-transform .5s cubic-bezier(.35,0,.25,1);
    transition: transform .5s cubic-bezier(.35,0,.25,1);
    transition: transform .5s cubic-bezier(.35,0,.25,1),-webkit-transform .5s cubic-bezier(.35,0,.25,1);
    position: absolute;
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.sa-title-series {
    font-size: 0;
}
.sa-title-series__title {
    display: inline-block;
    vertical-align: top;
}
.sa-title-series__title-txt {
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    color: white;
}
.sa-title-series__rating {
    display: inline-block;
    vertical-align: top;
}
.sa-star-rating {
    height: 38px;
    font-size: 0;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}
.sa-star-rating__wrap {
    display: inline-block;
    width: calc(100% - 40px);
    height: 36px;
    line-height: 36px;
    padding: 0 12px;
    font-size: 0;
    text-align: center;
    vertical-align: top;
}
.sa-star-rating__list {
    display: inline-block;
    width: 130px;
}
dl, ol, ul {
    list-style: none;
}
.sa-star-rating__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.sa-layout__line--xl {
    margin-bottom: 25px;
}

.sa-series-info__col {
    display: inline-block;
    width: 33.3333%;
    vertical-align: top;
}
.fb-comments{
  color:white;
}
.list-group-item{
  padding: 0;
}
.tab-content{
  margin-top:20px;
}
.tab-content li {
  background-color:transparent;
  color: white;
  border: none;
  border-bottom: 1px solid #312f2f;
  font-weight: 400;
  letter-spacing: .01em;
  font-size: 16px;
}
.tab-content a{
  color: white;
  display: block;
  padding: 10px 15px;
}
.tab-content a:hover, .tab-content a:focus{
    color: #e98300;
}
.md-title{
  font-size:20px;
}
.sa-series-link__number {
    display: inline-block;
    min-width: 35px;
    margin-right: 4px;
    color: #999;
    font-weight: 400;
    vertical-align: middle;
}
.sa-series-link__playbtn{
  vertical-align: middle;
    text-overflow: ellipsis;
    margin-right: 4px;
    display: inline-block;
}
.sa-series-link__txt {
    display: inline-block;
    width: calc(100% - 70px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.Title-epi {
    font-size: 28px;
    color: white;
    padding: 0 10px;
}
.text-center {
    text-align: center!important;
}
.TPlayerNv {
    margin: 0;
    border-bottom: 1px solid #C1C1C1;
    padding: 12px 0;
    list-style: none;
    color: hsla(0,0%,100%,.5);
}
.TPlayerNv .Button {
    display: inline-block;
    cursor: pointer;
    margin: 0 10px 5px 0;
    font-size: 15px;
}
.TPlayerNv .Button.Current span {
    border-bottom: 2px solid #e98300;
    padding-bottom: 16px;
    color: #fff;
}
.embed-animecap {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
.embed-animecap iframe{
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 0;
}

.video-content{
  padding-top: 10px;
}
.widget__header {
    background-color: #0072f4;
    cursor: pointer;
}
.widget__header__title {
    display: inline-block;
    margin: 0;
    line-height: 47px;
    padding: 0 14px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
h6 {
    color: #fff;
}
.h6, h6 {
    font-size: 14px;

}
h3 {
    color: #fff;
}
.main-title > h6 {
    margin: 15px 0 16px;
}
.main-title > h4 {
    margin-top: 20px;
    color: white;
}

.navbar-search > .input-group{
      position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: auto;
}
.navbar-search > .input-group > .form-control{
      border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #eceff0 none repeat scroll 0 0;
    font-size: 14px;
    max-width: 607px !important;
    width: 200px !important;
    position: relative;
    flex: 1 1 auto;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-bottom: 0;
    padding: .375rem .75rem;
    border-radius: 2px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group-append{
  margin-left: -5px;
  display: flex;
}
.form-control, .form-control:focus {
    background: #1c1c1c none repeat scroll 0 0;
    border-color: #303030;
    border-radius: 2px;
    font-size: 13px;
}

 
.login-main-wrapper .form-control {
    background: transparent none repeat scroll 0 0;
}
.form-control, .form-control:focus {
    background: #1c1c1c none repeat scroll 0 0;
    border-color: #303030;
    border-radius: 2px;
    font-size: 13px;
}
 
@media (max-width: 640px) {
  .sidebar {
    display: block;
  }

  .clck {
    right: 20%;
  }
  .time {
    top: 85% !important;
  }
  .small-clck {
    right: 24% !important;
  }
  .small-time {
    top: 75% !important;
  }
  .slider-time {
    top: 80% !important;
  }
  .callbacks_nav {
    right: 10%;
  }
  .footer-bottom ul li.languages {
    width: 30%;
    margin-bottom: 2em;
  }
  .video-grid iframe {
    height: 223px;
  }
  .box input[type="text"], .box textarea {
    width: 100%;
  }
  .box textarea {
    min-height: 130px;
    width: 100%;
  }
  .all-comments-buttons ul li a.top {
    font-size: 12px;
    padding: .5em 1em;
  }
  .show-grid-left {
    width: 100%;
    float: none;
  }
  .show-grid-right {
      width: 100%;
    float: none;
    padding: 2em 0 2em 2em;
  }
  .show-time {
    top: 88% !important;
  }
  .history-right {
    width: 84%;
  }
  .sports-tome {
    top: 79% !important;
  }
  .about-left {
    margin-bottom: 2em;
  }
  .developers-banner {
    padding: 5em 0;
  }
  .developers-info {
    width: 90%;
  }
  .creators-grids {
    margin: 2em 0 2em;
  }
  .creators-bottom {
    padding: 0em 0;
  }
}
@media (max-width: 480px) {
  
  .file a {
    font-size: 12px;
  }
  .signin a {
    font-size: 12px;
  }
  .top-search form input[type="text"] {
    padding: 6px 30px 6px 12px;
  }
  .form-control {
        height: 31px;
  }
  a.navbar-brand {
    margin: 0 auto 0em auto;
  }
  .upload-file input[type="file"] {
    left: 41.6%;
    top: 310px;
  }
  .top-navigation {
    padding: 10px;
  }
  .slider-top-grids {
    width: 100% !important;
    float: none !important;
  }
  .recommended-grid-info ul li {
    width: 49%;
  }
  .recommended-grid-info ul li.right-list {
    text-align: right;
  }
  .resent-grid-info p.author a.author {
    padding-left: 2em;
  }
  .slider-first:nth-child(3){
    display:none;
  }
  .slider-first:nth-child(4){
    display:none;
  }
  .slider-first{
    width: 50%;
  }
  .callbacks_nav {
    top: 100%;
  }
  .callbacks_nav {
    right: 15%;
  }
  .callbacks_nav.next {
    right: 4%;
  }
  .recommended-grid {
    width: 50%;
  }
  ul.nav.nav-sidebar li a {
    padding: .8em 0 .8em 14em;
  }
  .resent-grid-info p.author-info {
    font-size: 13px;
  }
  .resent-grid-info p.views-info {
    font-size: 13px;
  }
  .footer-bottom ul li.languages {
    width: 36%;
  }
  .bfh-countries {
    height: 35px;
  }
  .time {
    top: 90% !important;
    right: 2%;
  }
  .clck {
    right: 12%;
    bottom: 3%;
  }
  .small-time {
    top: 81% !important;
  }
  .small-clck {
    right: 20% !important;
  }
  .slider-time {
    top: 85% !important;
  }
  .single-left {
    float: none;
    width: 100%;
  }
  .single-right {
    float: none;
    width: 100%;
  }
  .show-clock {
    right: 29%;
  }
  .show-time {
    top: 84% !important;
  }
  .history-right {
    width: 80%;
  }
  .nav-sidebar ul li a {
    padding: .5em 0 .5em 18em !important;
  }
  .video-info-grid ul li {
    width: 100%;
  }
  .video-info-grid ul li.right-list {
    text-align: left !important;
  }
  .recommended-grid-movie-info ul li {
    display: block !important;
    width: 100% !important;
  }
  .recommended-grid-movie-info ul li.right-list {
    text-align: left !important;
  }
  .show-time {
    top: 91% !important;
  }
  .movie-clock {
    right: 21% !important;
  }
  .sports-clock {
    right: 27% !important;
  }
  .sports-tome {
    top: 74% !important;
  }
  .creators-banner {
    background: url(../images/create.jpg) no-repeat -11px 1px !important;
    background-size: cover !important;
  }
}
@media (max-width: 320px) {
  a.navbar-brand {
    width: 187px;
  }
  form.navbar-form.navbar-right {
    width: 100%;
    margin: 0;
    float: none !important;
    padding: 0 0 0.5em 0;
  }
  .top-search form input[type="submit"] {
    right: 14px;
    top: 6px;
  }
  .top-search form input[type="text"] {
    padding: 6px 36px 6px 12px;
  }
  .header-top-right {
    float: none;
  }
  ul.nav.nav-sidebar li a {
    padding: .8em 0 .8em 8em;
  }
  .nav-sidebar ul li a {
    padding: .5em 0 .5em 12em !important;
  }
  .callbacks_nav {
    right: 20%;
  }
  .clck {
    right: 16%;
  }
  .time {
    top: 87% !important;
    }
  .top-navigation {
    font-size: 1.5em;
  }
  .t-img img {
    width: 74%;
  }
  .recommended-info h3 {
      font-size: 15px;
  }
  .resent-grid-info a.title-info {
    font-size: 14px;
  }
  .recommended-grid-info h3 {
    line-height: .8em;
  }
  .recommended-grid-info a.title {
    font-size: 13px;
  }
  .small-clck {
    right: 27% !important;
  }
  .small-time {
    top: 73% !important;
  }
  .slider-time {
    top: 79% !important;
  }
  .footer-bottom ul li.languages {
    width: 44%;
  }
  .footer-bottom ul li.languages select.form-control {
    font-size: 11px;
  }
  .footer-bottom ul li a.f-history {
    font-size: 12px;
  }
  .heading-right a {
    padding: 5px 15px;
  }
  .heading-right {
    margin: 0em 0 0 3em;
  }
  .show-video-grid {
    width: 50% !important;
  }
  .show-clock {
    right: 30%;
  }
  .small-time {
    top: 75% !important;
  }
  .show-top-grids {
    padding: 0;
  }
  .recommended-info p.history-text {
    font-size: 12px;
  }
  .history-grids {
    margin: 2em 0;
  }
  .history-left p {
    font-size: 14px;
  }
  .history-left {
    width: 60px !important;
    height: 60px;
  }
  .history-right h5 {
    font-size: 14px;
  }
  .news-main-grids {
    padding: 0 0 1em 1em;
  }
  .history-right {
    width: 79%;
  }
  .show-time {
    top: 83% !important;
  }
  .movie-clock {
    right: 26% !important;
  }
  .movie-time {
    top: 88% !important;
  }
  .sports-recommended-grid {
    width: 50% !important;
  }
  .song-info h3 {
    font-size: 15px;
  }
  .video-grid iframe {
    height: 152px;
  }
  .published p {
    font-size: 12px;
  }
  .box input[type="text"], .box textarea {
    padding: 6px 10px;
  }
  .box textarea {
    min-height: 95px;
  }
  .all-comments-buttons ul li {
    margin: 1em;
  }
  .all-comments-buttons ul li:nth-child(1) {
    margin-left: 1em;
  }
  .media-body p {
    font-size: 12px;
  }
  .single-right h3 {
    font-size: 15px;
  }
  ul.nav.nav-sidebar li a {
    font-size: 12px;
  }
  .copyright p {
    font-size: 12px;
  }
  .about-grids {
    margin: 2em 0 2em 0;
  }
  .about-main-grids {
    padding: 0 0 1em 1em;
  }
  .about-left-grids {
    padding: 1em;
  }
  .about-left-info p {
    font-size: 12px;
  }
  .footer-top-nav ul li {
    margin: 0.5em 1em;
  }
  .news-left ol li {
    font-size: 12px;
  }
  .news-right ol li a {
    font-size: 12px;
  }
  .copy-grid h4 {
    font-size: 16px;
    line-height: 1.4em;
  }
  .developers-info h3 {
    font-size: 24px;
  }
  .developers-info p {
    font-size: 12px;
  }
  .creators-banner {
    background: url(../images/create.jpg) no-repeat -118px 0px !important;
    background-size: cover !important;
    padding: 3em 0;
  }
  .creators-top-grid {
    padding: 0;
  }
  .developers-banner {
    padding: 2em 0;
  }
  .creators-grid a {
    font-size: 18px;
  }
  .creators-grid p {
    font-size: 12px;
  }
  .creators-bottom-grids-info h3 {
    font-size: 18px;
  }
  .creators-bottom-grids {
    margin: 2em 0 0 0;
  }
  .creators-bottom-grid {
    padding: 0;
  }
  .creators-bottom-grid p {
    font-size: 12px;
  }
  .developers-grid a {
    font-size: 18px;
  }
  .developers-grid p {
    font-size: 12px;
  }
  .developers-grid {
    padding: 1em;
  }
  .developers-grid {
    margin-bottom: 2em;
  }
  .terms-info-grid p {
    font-size: 12px;
  }
  .feedback-grid p {
    font-size: 13px;
  }
  .try-left {
    padding: 0;
  }
  .try-left-info h3 {
    font-size: 18px;
  }
  .try-left-info p {
    font-size: 12px;
  }
  .try-right-left h3 {
    font-size: 18px;
  }
  .try-right {
    padding: 0;
  }
  .footer-top-nav ul li a {
    font-size: 13px;
  }
  .try-right-left {
    padding: 0;
  }
  .try-right-left p {
    font-size: 12px;
  }
  .try-banner {
    background: url(../images/try-banner.jpg) no-repeat 0px 1px !important;
    background-size: cover;
  }
  .footer-bottom ul li a.f-history {
    padding: .52em 1em .52em 3em;
  }
}
